.container {
    max-width: 1100px;
    margin:4rem auto;
    display: flex;
    
    .textContainer {
        flex: 1;
        text-align:justify;
        margin: 0 5rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        
        .title{
            width: 100%;
            font-size: 3rem;
            color:var(--pink-300);
            margin:1.4rem 0;
        }
        .subtitle{
            width: 100%;
            font-size: 2.5rem;
            font-weight:500;
            margin:0 0 2rem 0;
        }
        .formContainer {
            width: 100%;
            display: flex;
            justify-content: space-between;
          .buttonLogin {
            display: flex;
            justify-content: center;
            
            padding:1rem 2rem;
            margin: 2rem 0;
            border:0;
            
            color:var(--body);
            
            span{
                margin: 0 1rem;
            }

            &:hover{
                filter: brightness(0.8);
            }
        }
        .twitter{
            background-color:var(--twitter);
        }
        .linkedin {
            background:var(--linkedin)
        }
        .github{
            background:var(--github)
        }
        }
    }
    
}