.container {
    max-width: 1000px;
    margin:4rem auto;
    display: flex;
    
    .textContainer {
        max-width: 400px;
        margin: 0 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
        
        .title{
            width: 100%;
            font-size: 3rem;
            color:var(--pink-300);
            margin:1.4rem 0;
        }
        .subtitle{
            width: 100%;
            font-size: 2.5rem;
            font-weight:500;
            margin:0 0 2rem 0;
        }
        .formContainer{
            display: flex;
            justify-content: space-around;

            .twitter{
                background-color: var(--twitter);
                color: var(--body);

                &:hover{
                    filter:brightness(0.9)
                }
            }
            .linkedin{
                background-color: var(--linkedin);
                color: var(--body);
                img{
                    margin: 0 2rem;
                }
                &:hover{
                    filter:brightness(0.9)
                }
            }
            .buttonLogin{
                margin:2rem 0.4rem;
                padding:1rem 1.5rem;
                border: 0;
            }
        }
       
    }
  
    
}